@import "../../styles/color.scss";

.themeCard {
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

.selected {
  background-color: $primary-blue;

  figcaption {
    color: #fff;
  }
}

.figure {
  .image {
    max-width: 240px;
    max-height: 140px;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  figcaption {
    padding: 8px;
    text-align: center;
  }
}
