@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import "./color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
}

body {
  background: #f9f9f9;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: $default-grey;
  font-weight: 600;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 24px;
  text-align: center;
}

a {
  color: $primary-blue;
  text-decoration: none;
  font-style: italic;
}

textarea {
  width: 100%;
  background: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  color: $default-grey;
  font-weight: 600;
  resize: none;
  border: 1px solid $grey1;
  text-align: center;
  padding: 36px 0;
}
