@import "../../styles/color.scss";

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;

  > div {
    margin: 8px;
  }
}

.highlight {
  color: $primary-blue;
}
